.container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container_left {
    background: url('https://camo.githubusercontent.com/6b36646d03f3bb37ab74d78083f97eaf87e1fdc3610ae6f1b8c734c049d521ae/68747470733a2f2f73332e75732d776573742d322e616d617a6f6e6177732e636f6d2f7365637572652e6e6f74696f6e2d7374617469632e636f6d2f33333964336438352d646538652d343031662d393837642d3231623338396361373139342f4b616b616f54616c6b5f32303231303831315f3134313230353732382e6a70673f582d416d7a2d416c676f726974686d3d415753342d484d41432d53484132353626582d416d7a2d436f6e74656e742d5368613235363d554e5349474e45442d5041594c4f414426582d416d7a2d43726564656e7469616c3d414b49415437334c324734354549505433583435253246323032323033323125324675732d776573742d322532467333253246617773345f7265717565737426582d416d7a2d446174653d3230323230333231543030333130325a26582d416d7a2d457870697265733d383634303026582d416d7a2d5369676e61747572653d6439326236643230326437323331343136346332343230373864636166653063356339363365373734303839393733326636336434343736323563353230346426582d416d7a2d5369676e6564486561646572733d686f737426726573706f6e73652d636f6e74656e742d646973706f736974696f6e3d66696c656e616d652532302533442532324b616b616f54616c6b5f32303231303831315f3134313230353732382e6a706725323226782d69643d4765744f626a656374') center center/cover no-repeat;
    float: left;
    width: 33%;
    height: 100vh;
    object-fit: contain;
}

.container_right {
    float: right;
    width: 67%;
    height: 100vh;
    color: #000;
    padding: 10%;
}
  
.container_right > h1 {
    font-size: 90px;
    padding: 5%;
}

.container_right > h3, h5 {
    padding: 2%;
}

.github_stats {
    padding: 5%;
}