.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin: auto;
    padding: 3%;
}
  
.resume {
    background: url('./resume.png') center center/cover no-repeat;
    height: 100vh;
    width: 50%;
}

.download {
    cursor: pointer;
    border: #fff solid 3px;
    background-color: #fff;
    padding: 0.5%;
    margin: 1% auto;
}