.container {
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
  
.container > h1 {
    color: #000;
    font-size: 80px;
    margin-top: 3%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form > p {
    width: 70%;
    margin-left: 5%;
    margin: 2% auto;
}

.form_input {
    width: 70%;
    height: 6vh;
    margin: auto;
}

.form_input_message {
    width: 70%;
    height: 50vh;
    margin: auto;
}

.form_input_button {
    width: 20%;
    margin: 1% auto;
    padding: 1%;
}